.bg{
    background-color: #FBFBFB;
    margin-bottom: 34.5rem;
}
.bg-2{
    background-color: #AB9ED3;
    height: 73em;
}
/*body{
    overflow-y: hidden;
    overflow-x: hidden;
}*/
.ShapeDown{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.logo{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%; 
    margin-top:8rem;
}
.btn{
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    margin-top:3rem;
    margin-bottom: 12.5rem;

}
.txt{
    max-width: 20rem;
}

.bio{
    width: 100%;
    margin-bottom: 1rem;
    margin-top:5rem;
}
