body{
    width: 100%;
    
   
}
#home-page{
    max-width:1920px;
    height: auto;
    /*margin:auto;*/
    overflow-y: hidden;
}

.contenedor{
    max-width:1920px;  
    /*margin:auto;*/
    
}
.bg{
    background-color: #FBFBFB;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ShapeDown{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 6rem;
}
.ShapeDown-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0rem;

}
.logo{
    margin: 6rem;
    max-height: 30rem;
    margin-bottom: 5rem;
}
.foodP{
    display: none;

}
.btn{
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    min-width: 3rem;

}
/*SECCION DOS HOME-PAGE*/

.bg-2{
    background-color: #AB9ED3;
    height: 774px;
    width: 100%;
    
}
.bioPhone{
    position:absolute;
    width: 0px;
    height: 0px;
}
.bio{
    width: 60rem;
    height: 60rem;
    margin-left: 33%;
}
.txt-pc{
    width: 50rem;
    height: 50rem;
    position: absolute;
    left: 15rem;
}
.txt-phone{
    position:absolute;
    width: 0px;
    height: 0px;
}
.Bienvenida img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-left: 10rem;
    height: 12rem;
    margin-top: 0rem;

}

.inicio img{
   width: 0px; 
   height: 0px;
}
.inicioPc img {  
    position: absolute;
    height: 7rem;
    width: 25%;
    top: 142rem;
    margin: 0px;
    margin-left: 98rem;
 
 }






