.bg{
    background-color: #FBFBFB;
}
.bg-2{
    background-color: #AB9ED3;
    height: auto;
}
.root{
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka One', cursive;
}
body{
    /*overflow-y: hidden;
    overflow-x: hidden;*/
}
.ShapeDown{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

}
.logo{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%; 
}
.btn{
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}
.circle1{
    display: none;
}
.circles{
    display: none;
}
/*SECCION DOS DEL BIO FOOD*/
.bio img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;

}