*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.home-page{
    /*width: 3rem;*/
    max-width: 900px;
    min-width: 9000px;
    margin: auto;
}
.logo{
    width: 50%;
}
.bio{
    width: 50%;
    margin-bottom: 1rem;
}
.txt{
    width: 30%;
    display: flex;
    
}

/*SECCION DOS DEL BIO FOOD*/
