body{
    background-color: #7C6BAF;
}

#perfil{
    max-width:1366px;
    height:auto;

    display:flex;
}

.menu{
    margin-top:5rem;
    width: 171px;
    height: 459px;

    display: flex;
    flex-direction: column;
    text-align: center;
    position:absolute;
   
}

.vinculos{
    font-size:18px;
    text-decoration:none;
    color:white;
    transition:0.3s;

   padding:2.5rem;
   border-radius:0px 30px 30px 0px;
   padding-left:4rem;
   margin:0rem;
}

.vinculos:hover{
    background-color: #C5D751;
    border-radius:0px 30px 30px 0px;
    padding:2.5rem;
    transition:0.3s;
    padding-left:4rem;
}

.vinculos1{
    font-size:15px;
    text-decoration:none;
    margin-top:13rem;
    color:white;
    padding:2rem;
    font-weight: 800;
    transition:0.3s;
    border-radius:0px 30px 30px 0px;
    padding-left:2.5rem;
    
}

.vinculos1:hover{
    background-color: #C5D751;
    border-radius:0px 30px 30px 0px;
    padding:2rem;
    transition:0.3s;
    padding-left:2.5rem;
}

.logo{
    width: 138px;
    height: 48.49px;
    margin:auto;
    margin-bottom: 3rem;
    margin-left:2rem;
}

/****************************************/

.caja_wireframes{
    width: 1162px;
    height: 700px;
    background-color: #fff;
    margin-top:3rem;
    margin-left:18rem;

    border-radius:40px;
}


.bio_hola{
    position:absolute;
    margin-left:10rem;
    margin-top:3rem;

    width: 129.11px;
    height: 123.08px;

}

.bio_hola22{
    position:absolute;
    margin-left:28rem;
    margin-top:-32rem;
    cursor:pointer;
    width: 0px;
    height: 0px;

}

.bio_holaa{
    position:absolute;
    margin-left:11rem;
    margin-top:22rem;
    cursor:pointer;
    width: 194px;
    height: 265.47px;

}

.bio_holab{
    position:absolute;
    margin-left:32rem;
    margin-top:22rem;
    cursor:pointer;
    width: 340.92px;
    height: 139px;

}

.bio_holab2{
    position:absolute;
    margin-left:19rem;
    margin-top:7rem;
    cursor:pointer;
    width: 0px;
    height: 0px;

}

.bio_holac{
    position:absolute;
    margin-left:32rem;
    margin-top:36rem;
    cursor:pointer;
    width: 175px;
    height: 137.41px;



}

.fondo_blanco{
    width:0;
    height: 0;   
}

.bio_holad{
    position:absolute;
    margin-left:49rem;
    margin-top:36rem;
    cursor:pointer;
    width: 175px;
    height: 137.41px;

}
.bio_holad2{
    position:absolute;
    margin-left:19rem;
    margin-top:20rem;
    cursor:pointer;
    width: 0px;
    height: 0px;

}

.title{
    position:absolute;
    margin-left:25rem;
    margin-top:10rem;
    font-size:30px;

}

.title1{
    position:absolute;
    margin-left:11rem;
    margin-top:18rem;
    font-size:23px;
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
    
}



.bio_hola2{
    position:absolute;
    margin-left:8rem;
    margin-top:50rem;
    cursor:pointer;
    width: 581.26px;
    height: 199px;


}

.bio_hola222{
    position:absolute;
    margin-left:3rem;
    margin-top:123rem;
    cursor:pointer;
    width: 0px;
    height: 0px;


}

.bio_hola3{
    position:absolute;
    margin-left:70rem;
    margin-top:3rem;
  
    cursor:pointer;
    width: 334px;
    height: 289px;


}

.bio_hola4{
    position:absolute;
    margin-left:73rem;
    margin-top:35rem;
    cursor:pointer;
    width: 334px;
    height: 360px;


}

/*******************************************/
            /***CARBOHIDRATOS***/ 
/*******************************************/

.caja_wireframes2{
    width: 1162px;
    height: 700px;
    background-color: #fff;
    margin-top:3rem;
    margin-left:18rem;

    border-radius:40px;

    z-index:6;
    display:none;
}

/*******************************************/
           /***PROTEÌNAS***/  
/*******************************************/

.caja_wireframes3{
    width: 1162px;
    height: 700px;
    background-color: #fff;
    margin-top:3rem;
    margin-left:18rem;

    border-radius:40px;

    z-index:6;
    display:none;
}

.capa7{
    width: 118.48px;
    height: 123px;
    position:absolute;
    margin-top:2rem;
    margin-left:12rem;
}

.title_proteinas{
    position:absolute;
    font-size:30px;
    margin-top:8rem;
    margin-left:27rem;
}

.video_proteinas{
    width: 461px;
    height: 521px;
    margin-top:16rem;
    margin-left:12rem;
    position:absolute;
    cursor: pointer;
}

.categorias_proteinas{
    position:absolute;
    font-size:25px;
    margin-top:2rem;
    margin-left:70rem;

    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
}

.proteinas_carne{
    position:absolute;
    width: 320.43px;
    height: 331px;
    margin-top:6.5rem;
    margin-left:70rem;
    cursor: pointer;
}

.proteinas_lacteos{
    position:absolute;
    width: 188px;
    height: 289px;
    margin-top:6.5rem;
    margin-left:103rem;
    cursor: pointer;
}

.proteinas_pescado{
    position:absolute;
    width: 288px;
    height: 268px;
    margin-top:41.5rem;
    margin-left:70rem;
    cursor: pointer;
}

.proteinas_frutas{
    position:absolute;
    width: 193px;
    height: 310px;
    margin-top:37.5rem;
    margin-left:103rem;
    cursor: pointer;
}


/*----CAJA VIDEO PROTEINAS-----*/

.caja_video_proteinas{
    width: 1342px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.936);
    margin-top:0rem;
    margin-left:0rem;

    border-radius:40px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_video_proteinas{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:3rem;
    margin-left:10rem;

    cursor:pointer;
}

.video_sintesis_proteinas{
    position:absolute;
    margin-top:7rem;
    margin-left:10rem;
    width: 573px;
}

.title_cajavideo_proteinas{
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
    margin-top:35rem;
    margin-left:10rem;
    position:absolute;
    font-size:25px;

}

.texto_cajavideo_proteinas{
    width: 254px;
    height: 277px;
    font-size: 17px;
    position:absolute;
    margin-top:43rem;
    margin-left:10rem;
    text-align:justify;
    font-weight: 500;

}

.grupo17_video{
    width: 166px;
    height: 310px;
    margin-top:38rem;
    margin-left:36rem;
    position:absolute;
}

.grupo18_video{
    width: 166px;
    height: 310px;
    margin-top:38rem;
    margin-left:52rem;
    position:absolute;
}


.pregunta1{
    width: 384px;
    height: 105px;
    background-color: #C5D751;
    position:absolute;
    margin-top:3rem;
    margin-left:80rem;
    border-radius:30px;
}

.pregunta1 img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta1 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta1 p{
    width: 26rem;
    margin-top:4rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta2{
    width: 384px;
    height: 105px;
    background-color: #4AAEAD;
    position:absolute;
    margin-top:15rem;
    margin-left:80rem;
    border-radius:30px;
}

.pregunta2 img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta2 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta2 p{
    width: 26rem;
    margin-top:4rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta3{
    width: 384px;
    height: 137px;
    background-color: #F3BD37;
    position:absolute;
    margin-top:27rem;
    margin-left:80rem;
    border-radius:30px;
}

.pregunta3 img{
    width: 82px;
    height: 79px;
    margin-top:3rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta3 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta3 p{
    width: 26rem;
    margin-top:4rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta4{
    width: 384px;
    height: 105px;
    background-color: #E27B38;
    position:absolute;
    margin-top:42rem;
    margin-left:80rem;
    border-radius:30px;
}

.pregunta4 img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta4 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta4 p{
    width: 26rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta5{
    width: 384px;
    height: 105px;
    background-color: #7C6BAF;
    position:absolute;
    margin-top:54rem;
    margin-left:80rem;
    border-radius:30px;
}

.pregunta5 img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta5 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta5 p{
    width: 26rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

/*-------CAJA CARNES-------*/

.caja_proteinas_carne{
    width: 1342px;
    height: 700px;
    background-color: #fff;
    margin-top:0rem;
    margin-left:0rem;

    border-radius:40px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_caja_carne{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:2rem;
    margin-left:4rem;

    cursor:pointer;
}
.title_carne{
    position:absolute;
    margin-left:26rem;
    margin-top:10rem;
    font-size:3.5rem;
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 400;
}
.carne{
    top: 5rem;
    left:8rem;
    position:absolute;
}
.cerdo{
    border-radius: 29px;
    position:absolute;
    top: 2rem;
    left: 55rem;
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 74rem;
    height: 300px;
}
.imgCerd{
    margin: 1.5rem;
    max-width: 120px;
}
.ti{
    top: 4rem;
    left:16rem;
    position:absolute;
    font-size: 18px;

}
.calorias{
    top: 7rem;
    left:16rem;
    position:absolute;
}
.kcal{
    top: 7.5rem;
    left: 19rem;
    position:absolute;
    font-size: 2rem;
}
.lb{
    top: 7rem;
    left: 37rem;
    position:absolute;
}
.peso{
    top: 7.5rem;
    left: 40rem;
    position:absolute;
    font-size: 2rem;
}
.pr{
    top: 14rem;
    left: 7rem;
    position:absolute;

}
.pr-text{
    top: 14rem;
    left: 9rem;
    position:absolute;
    font-size: 2rem;
}
.text{
    top: 16rem;
    left: 9rem;
    position:absolute;
    font-size: 2rem;
}
.div-lip{
    top: 0rem;
    left: 15rem;
    position:absolute;
    width: 10rem;
}
.div-carb{
    top: 0rem;
    background-color: #7C6BAF;
    left: 28rem;
    position:absolute;
    width: 10rem;
}
.text-vit{
    top: 20rem;
    left: 7rem;
    position:absolute;
    font-size: 2rem;
    font-weight: 600;
}
.vitaminas{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    top: 20rem;
    left: 7rem;
    position:absolute;
    font-size: 1.5rem;

}
.vitaminas p{
    border: 1px solid #C5D751;
    border-radius: 25px;
    margin-top: 4rem;
    margin-right: 2rem;
    padding: 0.7rem;

}
.res{
    border-radius: 29px;
    position:absolute;
    top: 36rem;
    left: 55rem;
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 74rem;
    height: 300px;

}
.pollo{
    border-radius: 29px;
    position:absolute;
    top: 22rem;
    left: 7rem;
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 46rem;
    height: 44rem;
}
.imgpollo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}
.title-Po{
    top: 17rem;
    left: 6rem;
    position:absolute;

}
.calorias_pollo{
    position:absolute;
    top: 19.5rem;
    left: 5rem;


}
.Kcal_P{
    top: 20rem;
    left: 8rem;
    position:absolute;
    font-size: 2rem;
    bottom: 2rem;
}
.lb-p{
    position:absolute;
    top: 19.5rem;
    left: 25rem;
}
.peso-p{
    top: 20rem;
    left: 28rem;
    position:absolute;
    font-size: 2rem;
}

.div-proteinas{
    top: 10rem;
    left: -3rem;
    position:absolute;
}
.div-lipidos{
    top: 10rem;
    left: 10rem;
    position:absolute;
}
.div-carbohidratos{
    top: 10rem;
    left: 20rem;
    position:absolute;
}
.text-vtm{
    top: 30rem;
    left: 4rem;
    position:absolute;
    font-size: 2rem;
    font-weight: 600;
}
.vitaminas-P{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    top: 32rem;
    left: 4rem;
    position:absolute;
    font-size: 1.5rem;

}
.vitaminas-P p{
    border: 1px solid #C5D751;
    border-radius: 25px;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 0.7rem;

}


/*------CAJA LACTEOS------*/

.caja_proteinas_lacteos{
    width: 1342px;
    height: 700px;
    /*background-color: #fff;*/
    margin-top:0rem;
    margin-left:0rem;

    border-radius:40px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_caja_lacteos{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:2rem;
    margin-left:4rem;

    cursor:pointer;
}
.img-leche{
    top: 2rem;
    left:12rem;
    position:absolute;
}
.title_leche{
    position:absolute;
    margin-left:29rem;
    margin-top:8rem;
    font-size:3rem;
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 400;
}
.leche{
    border-radius: 29px;
    position:absolute;
    top: 2rem;
    left: 55rem;
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 60rem;
    height: 300px;
}
.crema{
    border-radius: 29px;
    position:absolute;
    top: 36rem;
    left: 55rem;
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 60rem;
    height: 300px;

}
.yogurt{
    border-radius: 29px;
    position:absolute;
    top: 22rem;
    left: 7rem;
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 46rem;
    height: 44rem;
}
.text-vit{
    top: 18.5rem;
    left: 7rem;
    position:absolute;
    font-size: 1.9rem;
    font-weight: 600;
}
.vitaminas{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    top: 20rem;
    left: 7rem;
    position:absolute;
    font-size: 1.5rem;

}
.vitaminas p{
    border: 1px solid #C5D751;
    border-radius: 25px;
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 0.7rem;

}






/*******************************************/
            /***LÌPIDOS***/   
/*******************************************/

.caja_wireframes4{
    width: 1162px;
    height: 700px;
    background-color: #fff;
    margin-top:3rem;
    margin-left:18rem;

    border-radius:40px;

    z-index:6;
    display:none;
}

/*******************************************/
           /***VITAMINAS***/   
/*******************************************/

.caja_wireframes5{
    width: 1162px;
    height: 700px;
    background-color: #fff;
    margin-top:3rem;
    margin-left:18rem;

    border-radius:40px;

    z-index:6;
    display:none;
}



/*******************************************/
        /***BY QUICK LEARNING***/  
/*******************************************/

.caja_wireframes6{
    width: 1162px;
    height: 700px;
    background-color: #fff;
    margin-top:3rem;
    margin-left:18rem;

    border-radius:40px;

    z-index:6;
    display:none;
}