body{
    background-color: #7C6BAF;
}

#perfil{
    max-width:375px;
    height:auto;
    margin:auto;
    display:flex;
}

.menu{
    margin-top:7rem;
    width: 50px;
    height: 0px;
    display: flex;
    
    text-align: center;
    
   
}

.vinculos{
    font-size:10px;
    text-decoration:none;
    color:white;
    transition:0.3s;
    margin-top:25rem;
    color:#7C6BAF;
    margin-left: -0.3rem;

    padding:1rem 2rem 2rem 2rem;
   
   border-radius:30px;
   
   z-index:3;
}

.vinculos:hover{
    background-color: #7C6BAF;
    color:white;
    border-radius:30px;
    transition:0.3s;
    padding:1rem 2rem 2rem 2rem;
}

.vinculos1{
    font-size:0px;
    text-decoration:none;
    margin-top:13rem;
    color:white;
    padding:0rem;
    font-weight: 800;
    transition:0.3s;
    border-radius:5px;
    padding-left:0rem;
    
    
}

.vinculos1:hover{
    background-color: #C5D751;
    border-radius:0px 30px 30px 0px;
    padding:2rem;
    transition:0.3s;
    padding-left:0rem;
}

.logo{
    width: 0px;
    height: 0px;
    margin:auto;
    margin-top:0rem;
    margin-left:0rem;
    
}

/****************************************/

.caja_wireframes{
    position:absolute;
    width: 375px;
    height:1530px;
    background-color: #fff;
    margin-top:30rem;
    margin-left:0rem;

    border-radius:0px;
}


.bio_hola{
    position:absolute;
    margin-left:10rem;
    margin-top:3rem;

    width: 0px;
    height: 0px;
    cursor:pointer;

}

.bio_hola22{
    position:absolute;
    margin-left:15rem;
    margin-top:-25rem;

    width: 193.02px;
    height: 184px;
    
    cursor:pointer;
}

.bio_holaa{
    position:absolute;
    margin-left:4rem;
    margin-top:7rem;
    cursor:pointer;
    width: 128px;
    height: 192px;

}

.bio_holab{
    position:absolute;
    margin-left:19rem;
    margin-top:7rem;
    cursor:pointer;
    width: 0px;
    height: 0px;

}

.bio_holab2{
    position:absolute;
    margin-left:19rem;
    margin-top:7rem;
    cursor:pointer;
    width: 168px;
    height: 144px;

}

.bio_holac{
    position:absolute;
    margin-left:4rem;
    margin-top:25rem;
    cursor:pointer;
    width: 144px;
    height: 157px;



}

.fondo_blanco{
    margin-top:5rem;
    position:absolute;

    width:375px;
    height:1772px;   
}

.bio_holad{
    position:absolute;
    margin-left:19rem;
    margin-top:20rem;
    cursor:pointer;
    width: 0px;
    height: 0px;

}

.bio_holad2{
    position:absolute;
    margin-left:19rem;
    margin-top:22rem;
    cursor:pointer;
    width: 155px;
    height: 202px;

}

.title{
    position:absolute;
    margin-left:4rem;
    margin-top:-8rem;
    font-size:23px;

}

.title1{
    position:absolute;
    margin-left:4rem;
    margin-top:-3rem;
    font-size:20px;
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
    
}



.bio_hola2{
    position:absolute;
    margin-left:3rem;
    margin-top:123rem;

    width: 0px;
    height: 0px;
    cursor:pointer;

}

.bio_hola222{
    position:absolute;
    margin-left:1rem;
    margin-top:110rem;

    width: 352px;
    height: 209px;
    cursor:pointer;

}

.bio_hola3{
    position:absolute;
    margin-left:2rem;
    margin-top:43rem;
    cursor:pointer;

    width: 311px;
    height: 360px;


}

.bio_hola4{
    position:absolute;
    margin-left:3rem;
    margin-top:73rem;
    cursor:pointer;
    width: 312px;
    height: 410px;


}

/*******************************************/
          /***CARBOHIDRATOS***/    
/*******************************************/

.caja_wireframes2{
    position:absolute;
    width: 375px;
    height:1530px;
    background-color: #fff;
    margin-top:30rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:2;
    display:none;
}

.capa7{
    width: 0px;
    height: 0px;
    position:absolute;
    margin-top:0rem;
    margin-left:0rem;
}

.title_carbohidratos{
    position:absolute;
    font-size:25px;
    margin-top:8rem;
    margin-left:4rem;
}

.video_carbohidratos{
    width: 261px;
    height: 321px;
    margin-top:13rem;
    margin-left:6rem;
    position:absolute;
    cursor: pointer;
}

.categorias_carbohidratos{
    position:absolute;
    font-size:15px;
    margin-top:47rem;
    margin-left:6.5rem;

    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
}

.carbohidratos_cereales{
    position:absolute;
    width: 170.43px;
    height: 181px;
    margin-top:50rem;
    margin-left:5rem;
    cursor: pointer;
}

.carbohidratos_frutas{
    position:absolute;
    width: 108px;
    height: 189px;
    margin-top:49.5rem;
    margin-left:22rem;
    cursor: pointer;
}

.carbohidratos_legumbres{
    position:absolute;
    width: 278px;
    height: 258px;
    margin-top:63rem;
    margin-left:5.8rem;
    cursor: pointer;
}

/*----CAJA VIDEO CARBOHIDRATOS-----*/

.caja_video_carbohidratos{
    width: 375px;
    height:1640px;
    background-color: rgb(255, 255, 255);
    margin-top:1rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_video_carbohidratos{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:7rem;
    margin-left:4rem;

    cursor:pointer;
}

.video_sintesis_carbohidratos{
    position:absolute;
    margin-top:11rem;
    margin-left:3rem;
    width: 312px;
}

.title_cajavideo_carbohidratos{
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
    margin-top:101rem;
    margin-left:1.5rem;
    position:absolute;
    font-size:15px;
    text-align:center;

}

.texto_cajavideo_carbohidratos{
    width: 284px;
    height: 277px;
    font-size: 17px;
    position:absolute;
    margin-top:107rem;
    margin-left:4.5rem;
    text-align:justify;
    font-weight: 500;

}

.grupo17_video_carbohidratos{
    width: 296px;
    height: 186.9px;
    margin-top:129rem;
    margin-left:4rem;
    position:absolute;
}


.pregunta1Carb{
    width: 312px;
    height: 115px;
    background-color: #C5D751;
    position:absolute;
    margin-top:39rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta1Carb img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta1Carb h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta1Carb p{
    width: 18rem;
    margin-top:4rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta2Carb{
    width: 312px;
    height: 120px;
    background-color: #4AAEAD;
    position:absolute;
    margin-top:52rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta2Carb img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta2Carb h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta2Carb p{
    width: 18rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta3Carb{
    width: 312px;
    height: 197px;
    background-color: #F3BD37;
    position:absolute;
    margin-top:65.5rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta3Carb img{
    width: 102px;
    height: 119px;
    margin-top:3rem;
    margin-left:0.5rem;
    position:absolute;
}

.pregunta3Carb h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta3Carb p{
    width: 18rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta4Carb{
    width: 312px;
    height: 118px;
    background-color: #E27B38;
    position:absolute;
    margin-top:87rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta4Carb img{
    width: 92px;
    height: 89px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta4Carb h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta4Carb p{
    width: 18rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}


/*----CAJA CEREALES-----*/

.caja_video_cerales{
    width: 375px;
    height:1640px;
    background-color: rgb(255, 255, 255);
    margin-top:1rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_cerales{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:7rem;
    margin-left:4rem;

    cursor:pointer;
}

/*----CAJA FRUTAS -----*/

.caja_video_frutas{
    width: 375px;
    height:1640px;
    background-color: rgb(255, 255, 255);
    margin-top:1rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_frutas{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:7rem;
    margin-left:4rem;

    cursor:pointer;
}

/*----CAJA LEGUMBRES -----*/

.caja_video_legumbres{
    width: 375px;
    height:1640px;
    background-color: rgb(255, 255, 255);
    margin-top:1rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_legumbres{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:7rem;
    margin-left:4rem;

    cursor:pointer;
}

/*******************************************/
           /***PROTEÌNAS***/   
/*******************************************/

.caja_wireframes3{
    position:absolute;
    width: 375px;
    height:1530px;
    background-color: #fff;
    margin-top:30rem;
    margin-left:0rem;

    border-radius:0px;
    z-index:2;
    display:none;
}

.capa7{
    width: 0px;
    height: 0px;
    position:absolute;
    margin-top:0rem;
    margin-left:0rem;
}

.title_proteinas{
    position:absolute;
    font-size:25px;
    margin-top:8rem;
    margin-left:4rem;
}

.video_proteinas{
    width: 261px;
    height: 321px;
    margin-top:13rem;
    margin-left:6rem;
    position:absolute;
    cursor: pointer;
}

.categorias_proteinas{
    position:absolute;
    font-size:15px;
    margin-top:47rem;
    margin-left:6.5rem;

    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
}

.proteinas_carne{
    position:absolute;
    width: 170.43px;
    height: 181px;
    margin-top:50rem;
    margin-left:5rem;
    cursor: pointer;
}

.proteinas_lacteos{
    position:absolute;
    width: 108px;
    height: 189px;
    margin-top:48.5rem;
    margin-left:22rem;
    cursor: pointer;
}

.proteinas_pescado{
    position:absolute;
    width: 158px;
    height: 138px;
    margin-top:69.5rem;
    margin-left:4.8rem;
    cursor: pointer;
}

.proteinas_frutas{
    position:absolute;
    width: 183px;
    height: 180px;
    margin-top:68rem;
    margin-left:18.5rem;
    cursor: pointer;
}


/*----CAJA VIDEO PROTEINAS-----*/

.caja_video_proteinas{
    width: 375px;
    height:1640px;
    background-color: rgb(255, 255, 255);
    margin-top:1rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_video_proteinas{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:7rem;
    margin-left:4rem;

    cursor:pointer;
}

.video_sintesis_proteinas{
    position:absolute;
    margin-top:11rem;
    margin-left:3rem;
    width: 312px;
}

.title_cajavideo_proteinas{
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
    margin-top:113rem;
    margin-left:2rem;
    position:absolute;
    font-size:15px;
    text-align:center;

}

.texto_cajavideo_proteinas{
    width: 284px;
    height: 277px;
    font-size: 17px;
    position:absolute;
    margin-top:117rem;
    margin-left:4.5rem;
    text-align:justify;
    font-weight: 500;

}

.grupo17_video{
    width: 166px;
    height: 310px;
    margin-top:133rem;
    margin-left:2rem;
    position:absolute;
}

.grupo18_video{
    width: 166px;
    height: 310px;
    margin-top:133rem;
    margin-left:18rem;
    position:absolute;
}


.pregunta1{
    width: 312px;
    height: 110px;
    background-color: #C5D751;
    position:absolute;
    margin-top:39rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta1 img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta1 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta1 p{
    width: 18rem;
    margin-top:4rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta2{
    width: 312px;
    height: 110px;
    background-color: #4AAEAD;
    position:absolute;
    margin-top:52rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta2 img{
    width: 82px;
    height: 79px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta2 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta2 p{
    width: 18rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta3{
    width: 312px;
    height: 167px;
    background-color: #F3BD37;
    position:absolute;
    margin-top:65rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta3 img{
    width: 102px;
    height: 99px;
    margin-top:3rem;
    margin-left:0.5rem;
    position:absolute;
}

.pregunta3 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta3 p{
    width: 18rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta4{
    width: 312px;
    height: 118px;
    background-color: #E27B38;
    position:absolute;
    margin-top:83rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta4 img{
    width: 92px;
    height: 89px;
    margin-top:1rem;
    margin-left:1rem;
    position:absolute;
}

.pregunta4 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta4 p{
    width: 18rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

.pregunta5{
    width: 312px;
    height: 145px;
    background-color: #7C6BAF;
    position:absolute;
    margin-top:97rem;
    margin-left:3rem;
    border-radius:30px;
}

.pregunta5 img{
    width: 102px;
    height: 99px;
    margin-top:2rem;
    margin-left:0.5rem;
    position:absolute;
}

.pregunta5 h1{
    margin-top:1rem;
    margin-left:11rem;
    color:white;
    font-size:12px;
    position:absolute;
}

.pregunta5 p{
    width: 18rem;
    margin-top:3rem;
    margin-left:11rem;
    color:white;
    font-size:13px;
    position:absolute;
    text-align: justify;
}

/*-------CAJA CARNES-------*/

.caja_proteinas_carne{
    width: 375px;
    height: 90rem;
    background-color: #fff;
    margin-top:0rem;
    margin-left:0rem;

    border-radius:40px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_caja_carne{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:6rem;
    margin-left:1.6rem;

    cursor:pointer;
}
.title_carne{
    position:absolute;
    margin-left:15rem;
    margin-top:21rem;
    font-size:2rem;
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 400;
}
.cerdo{
    border-radius: 29px;
    position:absolute;
    top: 26rem;
    left: 3.5rem;
 
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 312px;
    height: 252px;
}
.res{
    border-radius: 29px;
    position:absolute;
    top: 55rem;
    left: 3.5rem;
  
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 312px;
    height: 252px;

}
.pollo{
    border-radius: 29px;
    position:absolute;
    top: 85rem;
    left: 3.5rem;
    
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 312px;
    height: 252px;
}
.imgpollo-2{
    margin: 1.5rem;;
    max-width: 75px;
}
.imgpollo{
    display: none;
}
.title-Po{
    top: 3rem;
    left:10rem;
    position:absolute;
    font-size: 15px;

}
.calorias_pollo{
    top: 5rem;
    left:10rem;
    position:absolute;


}
.Kcal_P{
    top: 5.8rem;
    left: 13rem;
    position:absolute;
    font-size: 12px;
}
.carne{
    top: 4rem;
    left:10rem;
    position:absolute;
}
.lb-p{
    top: 5rem;
    left: 24rem;
    position:absolute;
}
.peso-p{
    top: 5.8rem;
    left: 27rem;
    position:absolute;
    font-size: 12px;
}
.div-proteinas{
    top: -1rem;
    left: 0.4rem;
    position:absolute;
}
.div-lipidos{
    top: -1rem;
    left: 10rem;
    position:absolute;
}
.div-carbohidratos{
    top: -1rem;
    left: 18rem;
    position:absolute;
}
.text-vtm{
    top: 14rem;
    left: 3rem;
    position:absolute;
    font-size: 12px;
    font-weight: 600;
}
.vitaminas-P{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    top: 13rem;
    left: 3rem;
    position:absolute;
    font-size: 10px;
}
.vitaminas-P p{
    border: 1px solid #C5D751;
    border-radius: 25px;
    margin-top: 3rem;
    margin-right: 2rem;
    padding: 0.7rem;
}



.imgCerd{
    margin: 1.5rem;
    max-width: 75px;
}
.ti{
    top: 3rem;
    left:10rem;
    position:absolute;
    font-size: 15px;

}
.calorias{
    top: 5rem;
    left:10rem;
    position:absolute;
}
.kcal{
    top: 5.8rem;
    left: 13rem;
    position:absolute;
    font-size: 12px;
  
}.lb{
    top: 5rem;
    left: 24rem;
    position:absolute;
}
.peso{
    top: 5.8rem;
    left: 27rem;
    position:absolute;
    font-size: 12px;
}
.pr{
    top: 10rem;
    left: 3rem;
    position:absolute;

}
.pr-text{
    top: 11rem;
    left: 5rem;
    position:absolute;
    font-size: 12px;
}
.text{
    top: 12rem;
    left: 5rem;
    position:absolute;
    font-size: 12px;
}
.div-lip{
    top: 0rem;
    left: 10rem;
    position:absolute;
    width: 10rem;
}
.div-carb{
    top: 0rem;
    background-color: #7C6BAF;
    left: 17rem;
    position:absolute;
    width: 10rem;
}
.text-vit{
    top: 14rem;
    left: 3rem;
    position:absolute;
    font-size: 12px;
    font-weight: 600;
    
}
.vitaminas{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    top: 13rem;
    left: 3rem;
    position:absolute;
    font-size: 10px;

}
.vitaminas p{
    border: 1px solid #C5D751;
    border-radius: 25px;
    margin-top: 3rem;
    margin-right: 2rem;
    padding: 0.7rem;

}
/*------CAJA LACTEOS------*/

.caja_proteinas_lacteos{
    width: 375px;
    height: 90rem;
    background-color: #fff;
    margin-top:0rem;
    margin-left:0rem;

    border-radius:40px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_caja_lacteos{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:6rem;
    margin-left:4rem;

    cursor:pointer;
}
.img-leche{
    top: 8rem;
    left:12rem;
    position:absolute;
}
.title_leche{
    position:absolute;
    margin-left:15rem;
    margin-top:26rem;
    font-size:2rem;
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 400;
}
.leche{
    border-radius: 29px;
    position:absolute;
    top: 35rem;
    left: 3.5rem;
 
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 312px;
    height: 252px;
}
.crema{
    border-radius: 29px;
    position:absolute;
    top: 65rem;
    left: 3.5rem;
  
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 312px;
    height: 252px;

}
.yogurt{
    border-radius: 29px;
    position:absolute;
    top: 95rem;
    left: 3.5rem;
    
    -webkit-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    -moz-box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);
    box-shadow: 1px 10px 13px 5px rgba(246,246,246,1);

    width: 312px;
    height: 252px;
}
/*------CAJA PESCADO------*/
.caja_proteinas_pescados{
    width: 1342px;
    height: 700px;
    background-color: #fff;
    margin-top:0rem;
    margin-left:0rem;

    border-radius:40px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_caja_pescados{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:2rem;
    margin-left:4rem;

    cursor:pointer;
}


/*------CAJA FRUTAS Y VERDURAS------*/

.caja_proteinas_FruVerd{
    width: 375px;
    height: 700px;
    background-color: #fff;
    margin-top:0rem;
    margin-left:0rem;

    border-radius:40px;

    z-index:7;
    display:none;
    position:absolute;
}

.boton_cerrar_caja_FruVerd{
    position:absolute;
    font-weight: 100;
    font-size:25px;
    margin-top:6rem;
    margin-left:3rem;

    cursor:pointer;
}

.logo_frutasyvegetales{
    width: 228.37px;
    height: 180px;
    position:absolute;
    margin-top:7rem;
    margin-left:6rem;
}

.title_proteinas_fruverd{
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    color:#7C6BAF;
    font-weight: 100;
    position:absolute;
    margin-top:23rem;
    margin-left:12rem;
    width: 15rem;;
    text-align:center;
}

/*Guayaba*/
.caja_guayaba{
    width: 315px;
    height: 305px;
    position:absolute;
    margin-top:33rem;
    margin-left:3rem;
    background-color: white;
    border-radius:30px;
    box-shadow: 0px 12px 24px 8px rgba(246, 246, 246, 0.851);
}

.Gimg1{
    width: 111px;
    height: 100px;
    position:absolute;
    margin-top:2rem;
    margin-left:2rem;
}

.Gimg2{
    width: 23px;
    height: 23px;
    position:absolute;
    margin-top:6rem;
    margin-left:14rem;
}

.gp2{
    font-size:12px;
    position:absolute;
    margin-top:7rem;
    margin-left:17rem;
}

.gp3{
    font-size:12px;
    position:absolute;
    margin-top:7rem;
    margin-left:28rem;
}

.Gimg3{
    width: 21px;
    height: 21.95px;
    position:absolute;
    margin-top:6rem;
    margin-left:25rem;
}

.Gimg4{
    width: 8px;
    height: 32px;
    position:absolute;
    margin-top:13rem;
    margin-left:3rem;
}

.gp4{
    font-size:13px;
    position:absolute;
    margin-top:13.5rem;
    margin-left:5rem;
    width: 4rem;
}

.Gimg5{
    width: 8px;
    height: 32px;
    position:absolute;
    margin-top:13rem;
    margin-left:12rem;
}

.gp5{
    font-size:13px;
    position:absolute;
    margin-top:13.5rem;
    margin-left:14rem;
    width: 4rem;;
}

.Gimg6{
    width: 8px;
    height: 32px;
    position:absolute;
    margin-top:13rem;
    margin-left:20rem;
}

.gp6{
    font-size:13px;
    position:absolute;
    margin-top:13.5rem;
    margin-left:22rem;
    width: 4rem;;
}

.titulo_guayaba{
    position:absolute;
    margin-top:4rem;
    margin-left:14rem;
    font-size:14px;
    font-weight: 800;
    
}

.GVit{
    font-size:14px;
    position:absolute;
    margin-top:19rem;
    margin-left:3rem;
}

.gp7{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:4rem;
    border: 0.5px solid #C5D751;
    border-radius: 25px;
    padding:0.8rem;
}

.gp8{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:12rem;
    border: 0.5px solid #C5D751;
    border-radius: 25px;
    padding:0.8rem;
}

.gp9{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:20rem;
    border: 0.5px solid #C5D751;
    border-radius: 25px;
    padding:0.8rem;
}

.gp10{
    font-size:12px;
    position:absolute;
    margin-top:26rem;
    margin-left:4rem;
    border: 0.5px solid #C5D751;
    border-radius: 25px;
    padding:0.8rem;
}

/*Aceituna*/
.caja_Aceitunas{
    width: 315px;
    height: 280px;
    position:absolute;
    margin-top:67rem;
    margin-left:3rem;
    background-color: white;
    border-radius:30px;
    box-shadow: 0px 12px 24px 8px rgba(246, 246, 246, 0.851);
}

.Aceimg1{
    width: 105px;
    height:105px;
    position:absolute;
    margin-top:2rem;
    margin-left:2rem;
}

.Aceimg2{
    width: 23px;
    height: 23px;
    position:absolute;
    margin-top:7rem;
    margin-left:14rem;
}

.Aceimg3{
    width: 21px;
    height: 18px;
    position:absolute;
    margin-top:7rem;
    margin-left:26rem;
}

.titulo_aceituna{
    position:absolute;
    margin-top:4rem;
    margin-left:14rem;
    font-size:14px;
    font-weight: 800;
}

.Acep2{
    font-size:12px;
    position:absolute;
    margin-top:8rem;
    margin-left:17rem; 
}

.Acep3{
    font-size:12px;
    position:absolute;
    margin-top:8rem;
    margin-left:28.5rem; 
}

.Aceimg4{
    width: 8px;
    height: 32px;
    position:absolute;
    margin-top:15rem;
    margin-left:3rem;
}

.Aceimg5{
    width: 8px;
    height: 32px;
    position:absolute;
    margin-top:15rem;
    margin-left:12rem;
}

.Aceimg6{
    width: 8px;
    height: 32px;
    position:absolute;
    margin-top:15rem;
    margin-left:20rem;
}

.Acep4{
    font-size:13px;
    position:absolute;
    margin-top:15rem;
    margin-left:5rem;
    width: 4rem;
}

.Acep5{
    font-size:13px;
    position:absolute;
    margin-top:15rem;
    margin-left:14rem;
    width: 4rem;
}

.Acep6{
    font-size:13px;
    position:absolute;
    margin-top:15rem;
    margin-left:21.5rem;
    width: 4rem;
}

.AceVit{
    font-size:14px;
    position:absolute;
    margin-top:20rem;
    margin-left:4rem;
}

.Acep7{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:4rem;
    border: 0.5px solid #4AAEAD;
    border-radius: 25px;
    padding:0.8rem;
}

.Acep8{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:12rem;
    border: 0.5px solid #4AAEAD;
    border-radius: 25px;
    padding:0.8rem;
}

/*platano*/

.caja_platano{
    width: 315px;
    height: 305px;
    position:absolute;
    margin-top:98rem;
    margin-left:3rem;
    background-color: white;
    border-radius:30px;
    box-shadow: 0px 12px 24px 8px rgba(246, 246, 246, 0.851); 
}

.plap7{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:4rem;
    border: 0.5px solid #F3BD37;
    border-radius: 25px;
    padding:0.8rem;
}

.plap8{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:12rem;
    border: 0.5px solid #F3BD37;
    border-radius: 25px;
    padding:0.8rem;
}

.plap9{
    font-size:12px;
    position:absolute;
    margin-top:22rem;
    margin-left:20rem;
    border: 0.5px solid #F3BD37;
    border-radius: 25px;
    padding:0.8rem;
}

.plap10{
    font-size:12px;
    position:absolute;
    margin-top:26rem;
    margin-left:4rem;
    border: 0.5px solid #F3BD37;
    border-radius: 25px;
    padding:0.8rem;
}


/*******************************************/
            /***LÌPIDOS***/   
/*******************************************/

.caja_wireframes4{
    position:absolute;
    width: 375px;
    height:1530px;
    background-color: #fff;
    margin-top:30rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:2;
    display:none;
}

/*******************************************/
           /***VITAMINAS***/   
/*******************************************/

.caja_wireframes5{
    position:absolute;
    width: 375px;
    height:1530px;
    background-color: #fff;
    margin-top:30rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:2;
    display:none;
}

/*******************************************/
        /***BY QUICK LEARNING***/   
/*******************************************/

.caja_wireframes6{
    position:absolute;
    width: 375px;
    height:1530px;
    background-color: #fff;
    margin-top:30rem;
    margin-left:0rem;

    border-radius:0px;

    z-index:2;
    display:none;
}